@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Satisfy&display=swap');

/*** Body ***/

body{
    background-color: whitesmoke;
    font-family: Fira Sans;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/*** Header***/
header {
    background-color: rgba(red, green, blue, alpha);
    font-family: satisfy;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/***Hero***/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4, h1 {
    color: white;
}

#hero-img {
    width: 100%;
}

/*** Main ***/

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    border: 10px solid #00ADEF;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    background-color: ghostwhite;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    border: 10px solid #00ADEF;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg{
    background-color: #00ADEF;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img {
    box-sizing: border-box;
}

/*** Footer ***/

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
    margin: 0 auto;
}

footer, footer a{
    background-color: white;
    color: black;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

/***********/

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
.button-box, main section {
    text-align: center;
    color: black;
}

nav a{
    padding: 35px;
    color: white;
}

.home-title{
    font-size: 2em;
}

h1{
    font-family: satisfy;
}

h2{
    font-family: satisfy;
    margin: 0;
}

.book, .join, footer a{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    text-decoration: none;
}

.book, .join{
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}

.book:hover, .join:hover, nav a:hover,footer a:hover{
    background-color: #00ADEF;
    color: white;
}

.home-title h4 {
    color: black;
}

.msg h2, .msg p{
    color: black;
}

.msg p {
    font-size: 2em; 
    padding: 35px;
}

.icon{
    padding-top: 10px;
}

.logo, .icon{
    width: 80px;
}


/******* Media Query ********/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
